In [2]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown, display, HTML

# Fix the dying kernel problem (only a problem in some installations - you can remove it, if it works without it)
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

# Numpy tasks

For a detailed reference check out: https://numpy.org/doc/stable/reference/arrays.indexing.html.

**Task 1.** Calculate the sigmoid (logistic) function on every element of the following numpy array [0.3, 1.2, -1.4, 0.2, -0.1, 0.1, 0.8, -0.25] and print the last 5 elements. Use only vector operations.

In [12]:
# Write your code here

a = np.array([0.3, 1.2, -1.4, 0.2, -0.1, 0.1, 0.8, -0.25])
b = 1 / (1 + np.exp(-a))
print(b[-5:])

[0.549834   0.47502081 0.52497919 0.68997448 0.4378235 ]

**Task 2.** Calculate the dot product of the following two vectors:<br/>
$x = [3, 1, 4, 2, 6, 1, 4, 8]$<br/>
$y = [5, 2, 3, 12, 2, 4, 17, 11]$<br/>
a) by using element-wise mutliplication and np.sum,<br/>
b) by using np.dot,<br/>
b) by using np.matmul and transposition (x.T).

In [24]:
# Write your code here

x = np.array([3, 1, 4, 2, 6, 1, 4, 8])
y = np.array([5, 2, 3, 12, 2, 4, 17, 11])

# a
a = np.sum(np.array(x) * np.array(y))
print(a)

# b
b = np.dot(x, y)
print(b)

# c 
c = np.matmul(x, y)
print(c.T)

225
225
225

**Task 3.** Calculate value of the logistic model<br/>
$$y = \frac{1}{1 + e^{-x_0 \theta_0 - \ldots - x_9 \theta_9 - \theta_{10}}}$$
for<br/>
$x = [1.2, 2.3, 3.4, -0.7, 4.2, 2.7, -0.5, 1.4, -3.3, 0.2]$<br/>
$\theta = [2.7, 0.33, -2.12, -1.73, 2.9, -5.8, -0.9, 12.11, 3.43, -0.5, -1.65]$<br/>
and print the result. Use only vector operations.

In [41]:
# Write your code here
x = np.array([1.2, 2.3, 3.4, -0.7, 4.2, 2.7, -0.5, 1.4, -3.3, 0.2])
theta = np.array([2.7, 0.33, -2.12, -1.73, 2.9, -5.8, -0.9, 12.11, 3.43, -0.5, -1.65])

exponent = 0
for i in range(len(theta) - 1):
    if i != len(x) - 1:
        exponent += -(x[i]*theta[i])
    else:
        exponent += -(x[i]*theta[i]) - theta[i+1]
print(1/(1+np.exp(exponent)))

1.1430000000000042
0.24176998326155683

**Task 4.** Calculate value of the multivariate linear regression model<br/>
$$y = A x + B$$
for<br/>
$A = \begin{bmatrix} 1 & 2 & 1 \\ 3 & 0 & 1 \end{bmatrix}$<br/>
$B = \begin{bmatrix} 0.2 \\ 0.3 \end{bmatrix}$<br/>
$x = [1, 2, 3]^T$<br/>
and print the result. Use only vector and matrix operations.

In [37]:
# Write your code here
a = np.array([[1, 2, 1], [3, 0, 1]])
b = np.array([[0.2], [0.3]])
x = np.array([1, 2, 3])

y = np.matmul(a, np.transpose(x)) + b
print(y)

[[8.2 6.2]
 [8.3 6.3]]

# Pandas

## Load datasets

- Steam (https://www.kaggle.com/tamber/steam-video-games)

- MovieLens (https://grouplens.org/datasets/movielens/)

In [42]:
steam_df = pd.read_csv(os.path.join("data", "steam", "steam-200k.csv"), 
                       names=['user-id', 'game-title', 'behavior-name', 'value', 'zero'])

ml_ratings_df = pd.read_csv(os.path.join("data", "movielens_small", "ratings.csv"))
ml_movies_df = pd.read_csv(os.path.join("data", "movielens_small", "movies.csv"))

## Merge both MovieLens DataFrames into one

In [43]:
ml_df = pd.merge(ml_ratings_df, ml_movies_df, on='movieId')
ml_df.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

## Pandas tasks - Steam dataset

**Task 5.** How many people made a purchase in the Steam dataset? Remember that a person could buy many games, but you need to count every person once.

In [48]:
# Write your code here
df = steam_df.groupby('user-id').nunique().reset_index()

display(df)

         user-id  game-title  behavior-name  value  zero
0           5250          21              2      7     1
1          76767          36              2     21     1
2          86540          82              2     12     1
3         103360          10              1      1     1
4         144736           8              2      2     1
...          ...         ...            ...    ...   ...
12388  309554670           1              2      2     1
12389  309626088           1              2      2     1
12390  309812026           2              1      1     1
12391  309824202           1              2      2     1
12392  309903146           1              2      2     1

[12393 rows x 5 columns]

**Task 6.** How many people made a purchase of "The Elder Scrolls V Skyrim"?

In [61]:
# Write your code here
df = steam_df.loc[(steam_df['game-title'] == 'The Elder Scrolls V Skyrim') 
                  & (steam_df['behavior-name'] == 'purchase')].reset_index()
display(df)

      index    user-id                  game-title behavior-name  value  zero
0         0  151603712  The Elder Scrolls V Skyrim      purchase    1.0     0
1        72   59945701  The Elder Scrolls V Skyrim      purchase    1.0     0
2       793   53875128  The Elder Scrolls V Skyrim      purchase    1.0     0
3      1065   92107940  The Elder Scrolls V Skyrim      purchase    1.0     0
4      1167  250006052  The Elder Scrolls V Skyrim      purchase    1.0     0
..      ...        ...                         ...           ...    ...   ...
712  197129  126294907  The Elder Scrolls V Skyrim      purchase    1.0     0
713  197518   42657809  The Elder Scrolls V Skyrim      purchase    1.0     0
714  198271   87201181  The Elder Scrolls V Skyrim      purchase    1.0     0
715  198534  116564064  The Elder Scrolls V Skyrim      purchase    1.0     0
716  199908   99096740  The Elder Scrolls V Skyrim      purchase    1.0     0

[717 rows x 6 columns]

**Task 7.** How many purchases people made on average?

In [72]:
# Write your code here
df = steam_df.loc[steam_df['behavior-name'] == 'purchase' ]
df = df.groupby('user-id')
df = df.agg({"game-title": "nunique"})
print(df['game-title'].mean())

10.393286532720085

**Task 8.** Who bought the most games?

In [74]:
# Write your code here

df = steam_df.groupby('user-id').nunique().reset_index()

display(df.sort_values(by='game-title', ascending=False).head(1))

       user-id  game-title  behavior-name  value  zero
1729  62990992        1068              2    165     1

**Task 9.** How many hours on average people played in "The Elder Scrolls V Skyrim"?

In [83]:
# Write your code here
df = steam_df.loc[(steam_df['game-title'] == 'The Elder Scrolls V Skyrim') 
                  & (steam_df['behavior-name'] == 'play')]

print(df['value'].mean())

104.71093057607091

**Task 10.** Which games were played the most (in terms of the number of hours played)? Print the first 10 titles and respective numbers of hours.

In [91]:
# Write your code here
df = steam_df.groupby('game-title').agg({'value': "sum"})

display(df.sort_values(by='value', ascending=False).head(10))

                                                value
game-title
Dota 2                                       986525.6
Counter-Strike Global Offensive              324183.6
Team Fortress 2                              175996.3
Counter-Strike                               135117.1
Sid Meier's Civilization V                   100417.3
Counter-Strike Source                         97053.5
The Elder Scrolls V Skyrim                    71606.3
Garry's Mod                                   50456.3
Call of Duty Modern Warfare 2 - Multiplayer   42352.9
Left 4 Dead 2                                 34547.7

**Task 11.** Which games are the most consistently played (in terms of the average number of hours played)? Print the first 10 titles and respective numbers of hours.

In [101]:
# Write your code here

df = steam_df.loc[steam_df['behavior-name'] == 'play', ['game-title', 'value']]
df = df.groupby('game-title').mean()

display(df.sort_values(by = 'value', ascending=False).head(10))

                                         value
game-title
Eastside Hockey Manager            1295.000000
Baldur's Gate II Enhanced Edition   475.255556
FIFA Manager 09                     411.000000
Perpetuum                           400.975000
Football Manager 2014               391.984615
Football Manager 2012               390.453165
Football Manager 2010               375.048571
Football Manager 2011               365.703226
Freaking Meatbags                   331.000000
Out of the Park Baseball 16         330.400000

**Task 12\*\*.** Fix the above for the fact that 0 hours played is not listed, but only a purchase is recorded in such a case.

In [ ]:
# Write your code here

**Task 13.** Apply the sigmoid function
$$f(x) = \frac{1}{1 + e^{-\frac{1}{100}x}}$$
to hours played and print the first 10 rows from the entire Steam dataset after this change.

In [95]:
# Write your code here
def sigmoid_function(x):
    return 1/(1+np.exp(-(1/100)*x))

steam_df_copy = steam_df.loc[steam_df['behavior-name'] == 'play'].copy()
steam_df_copy['value'] = steam_df_copy['value'].apply(sigmoid_function)

display(steam_df_copy)

          user-id                  game-title behavior-name     value  zero
1       151603712  The Elder Scrolls V Skyrim          play  0.938774     0
3       151603712                   Fallout 4          play  0.704746     0
5       151603712                       Spore          play  0.537181     0
7       151603712           Fallout New Vegas          play  0.530213     0
9       151603712               Left 4 Dead 2          play  0.522235     0
...           ...                         ...           ...       ...   ...
199991  128470551                Fallen Earth          play  0.506000     0
199993  128470551                 Magic Duels          play  0.505500     0
199995  128470551                 Titan Souls          play  0.503750     0
199997  128470551  Grand Theft Auto Vice City          play  0.503750     0
199999  128470551                        RUSH          play  0.503500     0

[70489 rows x 5 columns]

## Pandas tasks - MovieLens dataset

**Task 14\*.** Calculate popularity (by the number of users who watched a movie) of all genres. Print a DataFrame with two columns: genre, n_users, where n_users contains the number of users who watched a given genre. Sort all genres in descending order.

In [ ]:
# Write your code here

**Task 15\*.** Calculate average rating for all genres. Print a DataFrame with two columns: genre, rating, where rating contains the average rating for a given genre. Sort all genres in descending order.

In [ ]:
# Write your code here

**Task 17.** Calculate each movie rating bias (deviation from the mean of all movies average rating). Print first 10 in the form: title, average rating, bias.

In [ ]:
# Write your code here

**Task 17.** Calculate each user rating bias (deviation from the mean of all users average rating). Print first 10 in the form: user_id, average rating, bias.

In [ ]:
# Write your code here

**Task 18.** Randomly choose 10 movies and 10 users and print their interaction matrix in the form of a DataFrame with user_id as index and movie titles as columns. You can iterate over the DataFrame in this task.

In [ ]:
# Write your code here

## Pandas + numpy tasks

**Task 19.** Create the entire interaction matrix for the MovieLens dataset. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here

**Task 20.** Calculate the matrix of size (n_users, n_users) where at position (i, j) there is the number of movies watched both by user i and user j. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here

**Task 21.** Calculate the matrix of size (n_items, n_items) where at position (i, j) there is the number of users who watched both movie i and movie j. To prevent hanging your computer because of RAM shortage use only the first 1000 items. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here